body{        
    padding-top: 60px;
    padding-bottom: 40px;
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.fixed-header{
    top: 0;
    margin-bottom: 100px;
}
.fixed-footer{
    bottom: 0;
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
nav a.support{
    float: right;
    color:  rgb(15, 169, 240);
}
h1 {
    text-align: left;
     color: rgb(15, 169, 240);
}
* {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: center;
    width: 30%;
    background: #f1f1f1;
  }
  
  form.example button {
    float:center;
    width: 5%;
    padding: 10px;
    background: #010e1a;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .search{
      margin-top: 60px;
      
  }

  .column {
    float: left;
    width: 33.33%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
nav button{
  background: rgb(15, 169, 240);
  background-color:rgb(15, 169, 240) ;
}

.column1 {
  width: 33.3%;

}

.column2 {
  width: 33.3%;

}

.column3 {
  width: 33.3%;

}
.btn {
  background-color: rgb(15, 169, 240);
}
.card-title {
  width: 33.3%;
}